@page "/Ordering"
@code {

}

<h3>Заказ</h3>
<div class="Order">
        <div class="field">
            <label class="label">Артикул книгb</label> <input class="form-control valueField" type="text" value="0" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Ваш логин</label> <input class="form-control valueField" type="text" value="m2007102@edu.misis.ru" aria-label="Disabled input example" disabled readonly>
        </div>
    <div class="field">
        <label class="label">Способ связи</label> <input class="form-control valueField" type="text" value="E-mail" aria-label="Disabled input example" disabled readonly>
    </div>
    </div>
